.custom-styling {
   border: thin #c0c0c0 solid;
   display: flex;
   flex-flow: column;
   padding: 5px;
   max-width: 320px;
   margin: auto;
   margin-bottom: 2%;
}
.custom-styling > img {
   width: 100%;
}
.custom-styling > figcaption {
   background-color: #222;
   color: #fff;
   font: italic smaller sans-serif;
   padding: 6px;
   text-align: center;
   font-size: medium;
}